
/*principal page*/
.frontButton {
    width: 200px;;
  }


/* itineraries page*/
.searchBar{
    width:30%;;
  }

  .layoutContainer {
    height: 100vh;
  }
  
  .sidebar {
    position: relative;
    border-right: 2px solid rgba(68, 99, 146, 0.4) 
  }
  
  .flexContainer{
    height: 100%;
  }

  .flexMenu{
    height: 80%;
    margin: 5%;
    
  }

  .flexLogout{
    margin: 5%;
    border-top: 2px solid rgba(51, 253, 142) 
    
  }

  .content {
    padding: 2% 5%; 
    overflow-y: scroll;
}

.table{
    margin-top: 8%;
}

/* legs page */

.legCardContainer{
    width: 400px;;
    height: 300px;
    
  }

  .legCardHead{
    background-color: #f0f0f0;
    padding: 3%;
    border-radius: 20px 20px 0px 0px ;
    height: 50px;
    
  }
  .idTitle{
    padding-left: 10%;
  }

  .logOutButton{
    color: #828282;
  }

  .radioButton{
    transform: scale(1.5)
  }